<%= form_for(budget_item) do |f| %>
  <% if budget_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_item.errors.count, "error") %> prohibited this budget_item from being saved:</h2>

      <ul>
      <% budget_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class='table table-striped'>
    <tr>
      <th>Category</th>
      <td><%= f.select(:BudgetCategory_id ,@BCats) %> </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td><%= f.text_field(:amount)%></td>
    </tr>
    <tr>
      <th>Due Date</th>
      <td><%= f.date_field :DueDate, class: 'datepicker' %></td>
    </tr>
    <tr>
      <th>Is this item reoccuring?</th>
      <td><%= f.check_box :IsReocurring, {},"true", "false" %></td>
    </tr>
    <tr>
      <th>Start Date</th>
      <td><%= f.date_field :StartDate, class: 'datepicker' %></td>
    </tr>
    <tr>
      <th>End Date</th>
      <td><%= f.date_field :EndDate, class: 'datepicker' %></td>
    </tr>
    <tr>
      <th>Is this item a collection?</th>
      <td><%= f.check_box :IsCollection, {}, "true", "false" %></td>
    </tr>

  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
