<%= form_for(budget) do |f| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>


  <% end %>
  <table summary="Budget Form Fields" class="table table-striped">
    <tr>
      <th>Title</th>
      <td><%= f.text_field(:Title) %></td>
    </tr>
    <tr>
      <th>Starting Balance</th>
      <td><%= f.text_field(:StartingBalance) %></td>
    </tr>
    

  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
