<p id="notice"><%= notice %></p>
<table class='table'>
  <thead><th>Name</th><th>Starting Balance</th><th>Current Balance</th><th>Created</th><th>Updated</th><th>Options</th></thead>
  <tr>
    <td><%= @budget.Title %></td>
    <td><%= number_to_currency(@budget.StartingBalance) %></td>
    <td><%= number_to_currency(@budget.CurrentBalance) %></td>
    <td><%= @budget.created_at%> </td>
    <td><%= @budget.updated_at%> </td>
    <td><%= link_to 'Edit', edit_budget_path(@budget) %> </td>


  </tr>
</table>

<%= link_to 'Back', budgets_path %>

<table class='table table-stripped'>
  <thead>
<<<<<<< HEAD
    <th>Category</th><th>Amount</th><th>Due Date</th><th>Balance</th>
  </thead>
  <tr>
    <% @budget.BudgetItems.each do |bi|%>
      <td><%= bi.BudgetCategory.Name %></td>
      <td><%= bi.StartDate %></td>
      <td><%= bi.amount %></td>
      <td></td>
    <% end %>

=======
    <th>Category</th><th>Due Date</th><th>Amount</th><th>Balance</th>
  <thead>
    <tr>
      <%i = 0%>
    <% @budget.BudgetItems.each do |bi|%>
      <td><%= bi.BudgetCategory.Name%></td>
      <td><%= bi.StartDate%></td>
      <td><%= number_to_currency(bi.amount)%></td>
      <td><%= @balArray[i]%></td>
      <% i += i%>
    <%end%>
>>>>>>> a092df9f5687586ab97577bd0f56b293a8a92faf
  </tr>
</table>
